<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    {{link-to 'Intro' 'application' class="navbar-brand"}}
    <ul class="nav navbar-nav navbar-right">
      <li>{{link-to 'Home' 'index'}}</li>
      <li>{{link-to 'About Us' 'about'}}</li>
      <li>{{link-to 'Contact' 'contact'}}</li>
    </ul>
  </div>
</nav>

<div class="container">

  <div class="jumbotron">
    <h1>Welcome to Intro</h1>
    <p>
      We hope it introduces you properly!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p>
      {{link-to 'Learn More' 'about' class="btn btn-primary btn-lg"}}
    </p>
  </div>

  {{outlet}}
</div>
